.my_list_wrapper {
  height: 100%;
  .myList {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;
    font-size: 0.875rem;
    gap: 4px;
    height: 88vh;
  }
  .pagination {
    border-top: 1px solid var(--border-color);
  }
}
