.my_cont {
  .my_thumbnail {
    display: flex;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid var(--border-color);
    .my_img {
      flex: 1;
      .fa-user-circle {
        font-size: 2.875rem;
        opacity: 0.5;
      }
    }
    .my_info {
      flex: 2;
      span {
        display: block;
        font-size: 0.75rem;
        color: var(--grey-color);
        &:first-child {
          cursor: pointer;
          font-size: 0.875rem;
          &::after {
            content: "| 내 정보";
            padding: 0 6px;
            color: var(--grey-color);
          }
        }
      }
      .userNickName {
        font-weight: 500;
        color: var(--black-color);
      }
    }
    .logout {
      .logout_btn {
        text-decoration: none;
        color: var(--white-color);
        background-color: hsl(210, 9%, 82%);
        border: 1px solid var(--border-color);
        border-radius: 14px;
        font-size: 0.8rem;
        padding: 6px 10px 6px 11px;
        cursor: pointer;
      }
    }
  }
}
