.regi_lsit_wrapper {
  height: 100%;
  .regi_list {
    display: grid;
    grid-template-columns: 0.5fr 5fr 3fr 1.5fr;
    grid-template-rows: repeat(15, 1fr);
    font-size: 0.875rem;
    gap: 4px;
    height: 85%;
    a {
      color: var(--black-color);
    }
  }
}
