.all_list_wrapper {
  height: 100%;
  .allList {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;
    font-size: 0.875rem;
    gap: 4px;
    height: 88vh;
    button {
      height: 35%;
      border: 1px solid var(--border-color);
      outline: none;
    }
  }
  .pagination {
    border-top: 1px solid var(--border-color);
    .page {
      padding: 0 6px;
      cursor: pointer;
    }
  }
}
