.manager_wrapper {
  .manager_regist_wrapper {
    padding: 8px 30%;
    .imgPath_wrapper {
      margin-bottom: 1.5rem;
      .img_icon {
        background-color: hsl(0, 0%, 80%);
        border-radius: 16px;
        height: 250px;
        cursor: pointer;
        .fa-image {
          height: 100%;
          font-size: 5em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .img_file {
        display: none;
      }
    }
    .manager_detail {
      border: none;
      outline: none;
      .position_wrapper {
        .position {
          box-sizing: border-box;
          width: 100%;
          padding: 6px;
          font-size: 0.875rem;
          outline: none;
          border: 1px solid hsl(0, 0%, 0%);
          border-radius: 6px 6px 0 0;
          &:focus {
            outline: none;
            border: 1px solid hsl(147, 97%, 40%);
          }
        }
      }
      .introduce_wrapper {
        .introduce {
          box-sizing: border-box;
          width: 100%;
          padding: 6px;
          outline: none;
          border: 1px solid hsl(0, 0%, 0%);
          &:focus {
            outline: none;
            border: 1px solid hsl(147, 97%, 40%);
          }
        }
      }
    }
  }
}
