// Mobile
.main {
  padding: 18px 15%;
  h2 {
    color: hsl(147, 97%, 40%);
    font-size: 5rem;
  }
  .link {
    border: 1px solid hsl(147, 97%, 40%);
    background-color: hsl(147, 97%, 40%);
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 12px;
    padding: 8px;
    box-shadow: 4px 4px hsl(0, 0%, 80%);
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
// Tablet
@media screen and (min-width: 768px) {
}

// PC
@media screen and (min-width: 1024px) {
}
