.manager_wrapper {
  header {
    border-bottom: 1px solid var(--border-color);
    .logo {
      padding: 12px 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 52px;
        height: 52px;
        cursor: pointer;
      }
      span {
        cursor: pointer;
        font-size: 0.875rem;
        &:first-child::after {
          content: "|";
          color: var(--grey-color);
          padding: 0 8px;
        }
      }
    }
  }
  main {
    padding: 12px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;

    .all_list {
      grid-row: 1 / 6;
    }
    .my_list {
      grid-row: 1 / 6;
    }
    .my_con {
      grid-row: 1;
    }
    .comp_list {
      grid-row: 2 / 6;
    }
  }
}
