.manager_wrapper {
  header {
    border-bottom: 1px solid var(--border-color);
    .logo {
      padding: 12px 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 52px;
        height: 52px;
        cursor: pointer;
      }
      span {
        cursor: pointer;
        font-size: 0.875rem;
        &:first-child::after {
          content: "|";
          color: var(--grey-color);
          padding: 0 8px;
        }
      }
    }
  }
  main {
    padding: 8px 15%;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    section {
      border: 1px solid var(--black-color);
      box-shadow: 5px 5px 5px var(--border-color);
    }
    .all_list {
      grid-row: 1 / 6;
    }
    .user {
      grid-row: 1;
    }
    .my_list {
      grid-row: 1 / 6;
    }
    .complete_list {
      grid-row: 2 / 6;
    }
  }
}
