div {
  main {
    padding: 8px 15%;
    section {
      border: 1px solid var(--black-color);
      box-shadow: 5px 5px 5px var(--border-color);
      .list_nav {
        display: grid;
        grid-template-columns: 1fr 7fr 1.5fr 0.5fr;
        .fb {
          padding: 4px 0px;
          font-weight: 600;
        }
        span {
          text-align: center;
          &::after {
            content: "";
            display: block;
            border-bottom: 2px solid var(--border-color);
          }
        }
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 7fr 1.5fr 0.5fr;
        grid-template-rows: repeat(15, 1fr);
        text-align: center;
        height: 70vh;

        .link {
          text-decoration: none;
          color: var(--black-color);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
