header {
  padding: 0 30%;
  h2 {
    color: hsl(147, 97%, 40%);
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    margin: 32px;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}
