// mobile
@media screen and (max-width: 767px) {
}

// tablet + desktop
@media screen and (min-width: 1024px) {
  .register_wrapper {
    .register_header {
      background-color: hsl(147, 97%, 40%);
      color: hsl(0, 0%, 100%);
      font-size: 5rem;
      font-weight: 700;
      text-align: center;
    }

    .signUp {
      padding: 8px 30%;

      .btn {
        float: right;
        margin-top: 18px;
        margin-left: 18px;
        font-size: 2rem;
        color: hsl(0, 0%, 100%);
        border: none;
        outline: none;
        background-color: hsl(147, 97%, 40%);
        border-radius: 6px;
        cursor: pointer;
      }

      .submitBtn {
        display: none;
      }
    }
  }
}
