.dt_wrapper {
  div {
    input {
      width: 100%;
      font-size: 1.125rem;
      font-weight: 500;
      border: 1px solid var(--border-color);
      border-radius: 6px;
      outline: none;
      margin-bottom: 4px;
      &:hover {
        border: 1px solid var(--hover-color);
      }
      &:focus {
        border: 1px solid var(--focus-color);
      }
    }
  }
}
