.np_wrapper {
  :is(.name_wrapper, .phone_wrapper) {
    border: 1px solid var(--border-color);
    outline: none;
    position: relative;
    input {
      box-sizing: border-box;
      width: 100%;
      border: none;
      outline: none;
      font-size: 1.25rem;
      padding: 8px 0;
      padding-left: 15%;
    }

    .fas {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(-50%, -50%);
      font-size: 1.125rem;
      color: var(--grey-color);
    }
  }

  .name_wrapper {
    border-radius: 6px 6px 0 0;
  }
  .phone_wrapper {
    border-radius: 0 0 6px 6px;
  }
}
