.join_wrapper {
  display: flex;
  height: 100vh;
  .join_img {
    flex: 5.5;
    background-color: var(--main-color);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
  }
  .form_wrapper {
    flex: 4.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .join {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .join_detail {
        width: 100%;
        margin-bottom: 12px;
        & > div {
          border: none;
          outline: none;
          position: relative;
          .icon {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-50%, -50%);
            color: var(--grey-color);
            font-size: 1.125rem;
          }
          .icon_eye {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
            font-size: 1.125rem;
            color: var(--grey-color);
          }
          & > input {
            box-sizing: border-box;
            width: 100%;
            padding: 16px;
            padding-left: 10%;
            outline: none;
            border: 1px solid var(--grey-color);
            font-size: 1.25rem;
            &:hover {
              border: 1px solid var(--hover-color);
            }
            &:focus {
              border: 1px solid var(--main-color);
            }
          }
        }
        .name_wrapper {
          border-radius: 6px 6px 0 0;
          input {
            border-radius: 6px 6px 0 0;
            &:focus {
              border: 1px solid var(--border-color);
            }
          }
        }
        .gender_wrapper {
          border-radius: 0 0 6px 6px;
          select {
            box-sizing: content-box;
            width: 88%;
            height: 50px;
            border: 1px solid hsl(0, 0%, 80%);
            outline: none;
            border-radius: 0 0 6px 6px;
            padding-left: 12%;
            color: var(--hover-color);
            &:focus {
              border: 1px solid var(--border-color);
            }
          }
        }
      }
      .joinBtn {
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        padding: 6px;
        background-color: var(--main-color);
        outline: none;
        border: none;
        color: var(--white-color);
        font-size: 1.875rem;
        font-weight: 700;
        border-radius: 6px;
        margin-bottom: 12px;
      }
    }
  }
}
