.cc_wrapper {
  .classi_subject_wrapper {
    border: none;
    outline: none;
    .classi_wrapper {
      border: none;
      outline: none;
      select {
        width: 100%;
        padding: 8px;
        font-size: 1.25rem;
        font-weight: 500;
        outline: none;
        border: 1px solid var(--border-color);
        border-radius: 6px 6px 0 0;
        &:hover {
          border: 1px solid var(--hover-color);
        }
        &:focus {
          border: 1px solid var(--focus-color);
        }
      }
    }

    .subject_wrapper {
      position: relative;

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        font-size: 1.25rem;
        font-weight: 500;
        outline: none;
        border: 1px solid var(--border-color);
        &:hover {
          border: 1px solid var(--hover-color);
        }
        &:focus {
          border: 1px solid var(--focus-color);
        }
      }
    }

    .content_wrapper {
      textarea {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 600;
        outline: none;
        border: 1px solid var(--border-color);
        resize: none;
        border-radius: 0 0 6px 6px;
        padding: 8px;
        &:hover {
          border: 1px solid var(--hover-color);
        }
        &:focus {
          border: 1px solid var(--focus-color);
        }
      }
    }
  }
}
