.managerSignup_wrapper {
  .manager_regist_wrapper {
    padding: 8px 35%;
    .imgPath_wrapper {
      margin-bottom: 1.5rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .manager_detail {
      border: none;
      outline: none;
      .position_wrapper {
        .position {
          box-sizing: border-box;
          width: 100%;
          padding: 6px;
          font-size: 0.875rem;
          outline: none;
          border: 1px solid hsl(0, 0%, 0%);
          border-radius: 6px 6px 0 0;
          &:focus {
            outline: none;
            border: 1px solid hsl(147, 97%, 40%);
          }
        }
      }
      .introduce_wrapper {
        .introduce {
          box-sizing: border-box;
          width: 100%;
          padding: 6px;
          outline: none;
          border: 1px solid hsl(0, 0%, 0%);
          border-radius: 0 0 6px 6px;
          &:focus {
            outline: none;
            border: 1px solid hsl(147, 97%, 40%);
          }
        }
      }
    }
    button {
      float: right;
      width: 14%;
      height: 14%;
      margin-top: 4px;
      outline: none;
      border: 1px solid var(--main-color);
      border-radius: 6px;
      background-color: var(--main-color);
      color: var(--white-color);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
