.regi_board_wrapper {
  margin: 12px 15%;
  .regi_board_header {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    .sub_header {
      font-size: 0.875rem;
    }
  }
  .regi_board_content {
    padding: 12px;
    height: 50vh;
    border-bottom: 1px solid var(--border-color);
  }
  .regi_board_comment_list {
    padding: 12px;
    .comment {
      display: grid;
      grid-template-columns: 1.5fr 7fr 1.5fr;
      border-bottom: 1px solid var(--border-color);
      padding: 6px 0;
    }
  }
  .regi_board_comment {
    padding: 12px;
    background-color: hsl(0, 16%, 96%);
    form {
      display: grid;
      grid-template-columns: 9fr 1fr;
      gap: 8px;
      textarea {
        resize: none;
      }
      button {
        outline: none;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        font-size: 0.875rem;
      }
    }
  }
}
